:root {
  --clr-primary-600: hsl(200, 68%, 30%);
  --clr-primary-200: #b3c4cc;
  --clr-primary-100: #e4edf1;

  --clr-secondary-700: hsl(5, 100%, 70%);
  --clr-secondary-400: hsl(5, 100%, 84%);

  --clr-neutral-400: #8f8f8f;
  --clr-neutral-200: #b5b5b5;
  --clr-neutral-100: #d9d9d9;
  --clr-white: #ffffff;
  --clr-black: hsl(0, 0%, 12%);
}
*,
*::after,
*::before {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
* {
  font-size: initial;
}

html {
  font-size: 62.5%;

  scroll-behavior: smooth;
}

ul {
  list-style: none;
}
button {
  cursor: pointer;
  outline: none;
  border: none;
}
button:active {
  outline: none;
}

img {
  display: block;
  width: 100%;
}
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}
p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}
input {
  outline: none;
}
body {
  min-height: 100dvh;
  background-color: var(--clr-white);
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
  font-family: "IBM Plex Sans Arabic", sans-serif;
}
input,
input {
  border-radius: 5px;
  border: 1.5px solid var(--clr-neutral-100);
  padding: 15px;
}
input::placeholder {
  color: var(--clr-neutral-100);
}

input:is(:focus, :focus-within, :active) {
  border: 1.5px solid var(--clr-primary-600);
}
/* body.dark {
  --clr-primary-600: #ffffff;
  --clr-primary-200: #8fa8b8;
  --clr-primary-100: #d6dce0;
  --clr-secondary-700: #ffb900;
  --clr-secondary-400: #ffe69c;
  --clr-neutral-400: #bdbdbd;
  --clr-neutral-200: #e0e0e0;
  --clr-neutral-100: #ffffff;
  --clr-white: #000000;
  --clr-black: #ffffff;
} */

#root {
  min-height: 100dvh;
}
.cursor-pointer {
  cursor: pointer;
}
.relative {
  position: relative;
}
.container {
  width: min(100%, 1240px);
  margin-inline: auto;
}
.rounded {
  border-radius: 100vw;
}
.circle {
  border-radius: 100%;
}
.form-container {
  width: min(100%, 600px);
  margin-inline: auto;
}
.col-2 {
  display: flex;
}
.col-2 > * {
  width: 50%;
}

.border-radius-5 {
  border-radius: 5px;
}

.bg-primary-600 {
  background-color: var(--clr-primary-600);
}

.bg-primary-200 {
  background-color: var(--clr-primary-200);
}

.bg-primary-100 {
  background-color: var(--clr-primary-100);
}

.bg-secondary-700 {
  background-color: var(--clr-secondary-700);
}

.bg-secondary-400 {
  background-color: var(--clr-secondary-400);
}

.bg-neutral-400 {
  background-color: var(--clr-neutral-400);
}

.bg-neutral-200 {
  background-color: var(--clr-neutral-200);
}

.bg-neutral-100 {
  background-color: var(--clr-neutral-100);
}

.bg-white {
  background-color: var(--clr-white);
}

.bg-black {
  background-color: var(--clr-black);
}

.text-primary-600 {
  color: var(--clr-primary-600);
}

.text-primary-200 {
  color: var(--clr-primary-200);
}

.text-primary-100 {
  color: var(--clr-primary-100);
}

.text-secondary-700 {
  color: var(--clr-secondary-700);
}

.text-secondary-400 {
  color: var(--clr-secondary-400);
}

.text-neutral-400 {
  color: var(--clr-neutral-400);
}

.text-neutral-200 {
  color: var(--clr-neutral-200);
}

.text-neutral-100 {
  color: var(--clr-neutral-100);
}

.text-white {
  color: var(--clr-white);
}

.text-black {
  color: var(--clr-black);
}

.text-center {
  text-align: center;
}
.text-right {
  text-align: right;
}

.fw-400 {
  font-weight: 400;
}

.fw-500 {
  font-weight: 500;
}

.fw-600 {
  font-weight: 600;
}

.fs-64 {
  font-size: 64px;
}
.fs-48 {
  font-size: 48px;
}
.fs-44 {
  font-size: 44px;
}
.fs-40 {
  font-size: 40px;
}
.fs-32 {
  font-size: 32px;
}
.fs-28 {
  font-size: 28px;
}
.fs-24 {
  font-size: 24px;
}
.fs-22 {
  font-size: 22px;
}
.fs-20 {
  font-size: 20px;
}
.fs-18 {
  font-size: 18px;
}
.fs-16 {
  font-size: 16px;
}
.fs-14 {
  font-size: 14px;
}
.w-100 {
  width: 100%;
}
.w-80 {
  width: 80%;
}
.w-70 {
  width: 70%;
}
.w-60 {
  width: 60%;
}
.w-50 {
  width: 50%;
}
.w-40 {
  width: 40%;
}

.h-100 {
  height: 100%;
}

.flex-col-end {
  display: flex;
  align-items: flex-end;
  flex-direction: column;
}
.flex-col-center {
  display: flex;
  align-items: center;
  flex-direction: column;
}
.flex-space-between {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.flex-center {
  display: flex;
  align-items: center;
  justify-content: center;
}
.flex {
  display: flex;
}
.flex-group {
  display: flex;
  flex-wrap: wrap;
}
.no-underline {
  text-decoration: none;
}
.btn {
  padding: 11px 16px;
  background-color: transparent;
  border-radius: 5px;
  transition: 0.5s ease-in-out;
}
.btn:is(:hover, :focus-within) {
  scale: 0.95;
}
.btn--primary {
  color: var(--clr-white);
  background-color: var(--clr-primary-600);
}
.btn--primary:disabled {
  background-color: var(--clr-primary-200);
  cursor: not-allowed;
}
.btn--outline {
  border: 1.5px solid var(--clr-neutral-100);
  color: var(--clr-black);
}
.logo {
  max-width: 55px;
}
.profile-img-logo {
  max-width: 40px;
}
.link-hover {
  transition: 0.3s ease-in-out;
}
.link-hover:hover {
  color: var(--clr-primary-600);
}
.link-active {
  color: var(--clr-primary-600);
  position: relative;
}
.link-active::after {
  content: "";
  position: absolute;
  height: 3px;
  width: 100%;
  bottom: -10px;
  border-radius: 100vw;
  left: 0;
  background-color: var(--clr-primary-600);
}

.v-divider {
  display: block;
  width: 2px;
  height: 30px;
}

.grid-auto-fit {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
}

.m-inline-auto {
  margin-inline: auto;
}
.m-block-auto {
  margin-block: auto;
}

.m-left-auto {
  margin-left: auto;
}
.m-top-auto {
  margin-top: auto;
}
.m-bottom-auto {
  margin-bottom: auto;
}
.m-right-auto {
  margin-right: auto;
}
